* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ABeeZee', sans-serif;

}
.container {
	max-width: 1437px;
margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav{
	display: flex;
	justify-content: space-between;
	gap: 70px;
}
nav a{
	font-size: 14px;
	text-decoration: none;
	color: #000;
}
nav a:first-child::after {
	content: "";
	
}

.btn-contact {
	margin-right: 12px;
	text-decoration: none;
	color: #fff;
	background: #F9B640;
	padding: 16px 42px;
	border-radius: 50px;
	transition: transform .2s, font-size .3s, background-color .3s, margin-right .3s;
}
.btn-contact:hover {
	background-color: #d69c37;
	transform: scale3d(1.1);
	font-size: 20px;
	margin-right: 0;
}


/* /header */

/* ABOUT */
.about-us {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

h1 {
	padding-bottom: 46px;
	font-size: 48px;
	font-style: italic;
	font-weight: 400;	
}
.about-us__text {
	max-width: 602px;
	font-weight: 400;
	font-size: 24px;
	color: #22356F;
}

/* OFFER */
.offer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #62D0DF;
}
.offer_block-text {
	margin: 0 auto;
	width: 100%;
	max-width: 586px;
}
h2 {
	padding-bottom: 27px;
	font-size: 36px;
	font-style: italic;
	font-weight: 400;	
	color: #fff;
}
.offer__text {
	font-weight: 400;
	font-size: 24px;
	font-style: italic;
	color: #fff;
	
}

/* SLOGAN */
.slogan {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 636px;
}
	.blocktext {
		padding-bottom: 20px;
		max-width: 740px;
		font-family: ABeeZee;
		font-size: 24px;
		font-style: italic;
		font-weight: 400;
		line-height: 34px;
		letter-spacing: 0.005em;
		text-align: left;
		color: #22356F;

	}

	/*CARDS*/

	.cards {
		display: flex;

	}
	.card {
		padding: 126px 70px;
		min-width: 480px;
		aspect-ratio: 1/1;
		font-family: ABeeZee;
		font-size: 32px;
		font-style: italic;
		font-weight: 400;
		line-height: 34px;
		letter-spacing: -0.006em;
		text-align: left;
		color: #fff;
	}
	.card1_color {
		background-color: #22356F;
	}
	.card2_color {
		background: #0052C1;
	}
	.card3_color {
		background-color: #76B58B;
	}

	/* RENT */

	.rent {
		display: flex;
		align-items: center;
	}
	
	.rent__title{
		color: #22356F;

	}
	.rent__blocktext {
		max-width: 676px;
		font-family: ABeeZee;
	font-size: 36px;
	font-style: italic;
	font-weight: 400;
	line-height: 53px;
	letter-spacing: -0.01em;
	text-align: left;

	}